@import url(./3_letter_code.css);
.sel {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    width: 80%;
}
.sel_wrapper {
    vertical-align: middle;
    width: 55%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sel_wrapper:nth-of-type(1) { width: 35%; }
/* .sel_wrapper button { width: 10%; } */
/* main > div:nth-child(2) {
    margin-top: 15px;
} */
.h {
    margin: 10px auto;
}
.quiz_wrapper, .result_wrapper {
    display: none;
}
.cor_ans {
    color: blue;
}
.inc_ans {
    color: red;
}
.q_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.q_wrap, .s_wrap {
    margin-top: 10px;
}
.q_wrap input[type='text'] { font-size: 1em; }
.btn_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
    margin: 15px auto;
}
.btn_sol {
    width: 150px;
    margin: 15px auto;
}
/* .btn_sol button { margin: 0 auto; } */
table {
    margin: 0 auto;
    /* border-collapse: separate;
    border-spacing: 10px 10px; */
    border-collapse: collapse;
}
/* .table3 {
    width: 100%;
    border-collapse: collapse;
} */

table th, table td {
    padding: 10px;
    text-align: left;
    width: 33%;
}

table thead {
    background-color: #333;
    color: #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}
/* .grp_tbl { display: none; } */
/* tr { width: 100%; }
th { 
    width: 33%; 
    text-align: center;
} */
/* th, td { text-align: center; } */
/* .q_wrap:nth-of-type(2), .s_wrap:nth-of-type(2) {} */

/* ============================1080이상======================== */
@media (min-width: 1080px){
    .sel { width: 100%; }
}
/* ============================1080======================== */
@media (max-width: 1080px){
    main { font-size: 0.5em; }
    .sel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    .sel_wrapper {
        width: 55%;
    }
    .sel_wrapper:nth-of-type(1) { width: 40%; }
    select {
        font-size: 0.7em;
    }
    button {
        font-size: 0.7em;
    }
    .q_wrap p, input[type='text'] { font-size: 1.5em; }
    table tr > th, td { font-size: 1.5em; }
}
/* ==========================1080 end======================= */

/* ============================768======================== */
@media (max-width: 768px){
    main { font-size: 0.5em; }
    .sel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
    }
    .sel_wrapper {
        width: 55%;
        font-size: 0.5em;
    }
    .sel_wrapper:nth-of-type(1) { width: 35%; }
    .sel_wrapper select { font-size: 1em; width: 100%; }
    button { 
        font-size: 1em; 
        width: 50%;
        padding: 1em 0;
        margin-left: 1em;
    }
    .sel_wrapper:nth-of-type(2) button { width: 25%; }
    hr { width: 90%; }
    .h {
        width: 80%;
        margin: 0 auto;
    }
    h2 { font-size: 1em; }
    h3 { font-size: 0.8em; }
    .btn_sol button { 
        width: auto; 
        padding: 1em;
        font-size: 0.6em; 
    }
    .btn_wrap { width: 35%; }
    .btn_wrap button { font-size: 0.6em;}
    .btn_wrap button:nth-of-type(1) {
        margin: 0;
        width: 40%;
    }
    .q_wrap p, input[type='text'] { font-size: 0.8em;}
    table tr > th, td { font-size: 0.8em; }
} 
@media (max-width: 480px){ 
    .btn_wrap {
        width: 55%;
    }
}